.navbar-brand{
	color:#ff7400 !important;
}
.navbar-collapse{
	
	background-color:#ffc773 !important;
	
}
.div1{
	width:350px;height:700px;padding:10px;border:1px solid #aaaaaa;
}
.dragimage{
	background-color:#ffc773 !important;
}
